/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  font-family: serif; }

.Main {
  width: 100%;
  height: 600px;
  background-color: #1ec1fd; }

header {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  header div {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start; }
    header div .title {
      margin: 3%;
      align-self: center; }
      header div .title h4 {
        font-size: 20px; }
    header div nav {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      header div nav ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        width: 80%; }
        header div nav ul li {
          display: flex;
          list-style-type: none;
          text-align: center;
          width: 100%;
          justify-content: space-around;
          align-items: center; }

.container1,
header,
nav {
  background-color: #1ec1fd;
  color: white; }

.container1 {
  display: flex;
  width: 100%;
  height: 400px; }

.Head {
  justify-content: center;
  align-items: center;
  padding-left: 40px; }
  .Head h1 {
    font-size: 4em;
    margin-bottom: -20px; }
  .Head h2 {
    font-weight: lighter; }

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column; }
  .container2 div.Head2 {
    width: 100%;
    text-align: center; }
    .container2 div.Head2 h4 {
      font-size: 40px;
      font-weight: lighter;
      margin-bottom: -39px; }
    .container2 div.Head2 h5 {
      font-size: 23px;
      font-weight: initial; }
  .container2 div.atout {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px; }
    .container2 div.atout .asset-item {
      width: 370px;
      text-align: center; }
      .container2 div.atout .asset-item h5 {
        font-size: 17px;
        font-weight: 100; }

div.atout-div {
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 60px; }

.icone {
  color: #16befd;
  font-size: 3em; }

.container3 {
  background-color: #e9e9e9;
  display: flex;
  width: 100%;
  justify-content: space-around; }
  .container3 .annonce {
    margin: 70px;
    width: 450px;
    margin-left: -100px; }
    .container3 .annonce h3 {
      font-size: 30px;
      margin-bottom: -23px; }
    .container3 .annonce h4 {
      font-size: 20px; }
    .container3 .annonce p {
      width: 455px; }
  .container3 .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; }
    .container3 .illustration .icon-astro {
      align-items: center;
      display: flex;
      font-size: 10em;
      width: 100%;
      justify-content: center;
      height: 100%; }

.container4 {
  display: flex;
  background-color: white;
  justify-content: center;
  flex-direction: column; }
  .container4 .title3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
    text-align: center; }
    .container4 .title3 h4 {
      font-size: 2em;
      font-weight: 300; }
    .container4 .title3 h5 {
      font-size: 1.2em;
      margin-top: -45px; }

.table-skill {
  display: flex;
  justify-content: center; }
  .table-skill table {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .table-skill table tbody {
      width: 1300px; }
      .table-skill table tbody tr {
        display: flex;
        justify-content: space-between; }
        .table-skill table tbody tr td {
          width: 100%;
          text-align: center; }
          .table-skill table tbody tr td .Short-Des {
            font-size: 1.3em;
            margin-top: -30px; }
          .table-skill table tbody tr td .icone {
            font-size: 2em; }

.container5 {
  background: #00c0f7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px; }
  .container5 h3 {
    font-size: 2em;
    margin-left: 40px; }
  .container5 a {
    padding: 20px 40px;
    color: white;
    border: 2px white solid;
    border-radius: 55px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 40px; }

footer {
  background: #00b6e9;
  color: white;
  text-align: center;
  padding: 5vh;
  font-size: 0.7em;
  font-weight: 700; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:after,
  *:before {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }

  img,
  tr {
    page-break-inside: avoid; }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */
